<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css"  href="../../static/style2.css" >

<h2>欢迎使用北邮驿站管理系统</h2>

<body class="background_">
    <fieldset>
        <legend>快递查询</legend>

<form action = "/user" method = post align="center" >
    {{ form.csrf_token()}}
    {{ form.id.label }}{{ form.id }}<br>
    {{ form.tel.label }}{{ form.tel }}<br>
    {{ form.submit }}<br>

    {% for message in get_flashed_messages()%}
        {{ message }}
    {% endfor %}
</form>
    </fieldset>

<hr>

<table border = 1 align="center">
    <thead>
        <td>快递单号</td>
        <td>姓名</td>
        <td>电话</td>
        <td>时间</td>
        <td>取件状态</td>
        <td>修改取件状态</td>
{#        <td>删除该订单</td>#}
    </thead>

<tr>
    {% for x in row %}
        <td>{{x}}</td>
    {% endfor %}
    {% for y in row_id %}
        <td><a href="{{ url_for("admin.change", id=y) }}">确认取件</a></td>
    {% endfor %}
{#    {% for y in row_id %}#}
{#        <td><a href="{{ url_for("admin.delete", id=y) }}">删除</a></td>#}
{#    {% endfor %}#}
</tr>
</table>

<h3 align="center"><a href = "/">返回主页</a></h3>
</body>
</html>