<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登陆界面</title>
</head>
<link rel="stylesheet"  type="text/css"  href="../../static/style2.css" >

<h2>管理员登陆界面</h2>
<body class="background_">
    <div style="margin:0 auto;width:200px">

    <form action = "/login" method = post>
    {{ form.csrf_token()}}
    {{ form.name.label }}{{ form.name }}<br>
    {{ form.password.label }}{{ form.password }}<br>
    {{ form.submit }}<br>

    {% for message in get_flashed_messages()%}
        {{ message }}
    {% endfor %}
</form>


    </div>
</body>
</html>